// Typography
$base-font-family: 'News Cycle', sans-serif;
$heading-font-family: "trajan-pro-3",sans-serif;;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

$footer-height: 275px;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$extra-small-spacing: $base-spacing / 4;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$bf-gold: rgb(160, 102, 78);

$footer-light: #847e73;
$footer-dark: #777167;


$text-brown: #887D6D;
$light-gray: #E5E5E5;

// Font Colors
$base-font-color: $text-brown;
$action-color: $bf-gold;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
